.ppt-bg-div {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background-color: white;
	max-height: 100vh;
}

.wp-block-ppt-slide {
	height: 100%;
	& > div {
		height: 100%;
	}
}