.ppt-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	background-color: white;
	max-height: 100vh;
}

.ppt-bg-div {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background-color: white;
	max-height: 100vh;
}

.wp-block-ppt-slide {
	height: 100%;
	& > div {
		height: 100%;
	}
}

.ppt-slide-button-container {
	display: flex;
	justify-content: center;
	align-items: center;

	button {
		background-color: royalblue;
		color: white;
		font-size: 2em;
		border-radius: 5px;
		padding: 0.5em 1em;
		border: none;
		cursor: pointer;
		outline: none;
	}	
}

.is-margin-top-auto {
	margin-top: auto !important;
}